<div class="login-card-container">
        <div class="login-card">
            <div class="login-card-logo">
</div>
            <div class="login-card-header">
                  <h1>Bienvenido</h1>
                <div>Por favor registrarse para usar la plataforma</div>
            </div>
            <form class="login-card-form">
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">mail</span>
                    <input type="text" placeholder="Ingresar mail" id="emailForm" 
                    autofocus required>
                </div>
                <div class="form-item">
                    <span class="form-item-icon material-symbols-rounded">lock</span>
                    <input type="password" placeholder="Ingresar contraseña" id="passwordForm"
                     required>
                </div>
                <div class="form-item-other">
                    <div class="checkbox">
                        <input type="checkbox" id="rememberMeCheckbox" checked>
                        <label for="rememberMeCheckbox">Recordar</label>
                    </div>
                    <a href="#">Olvide mi contraseña!</a>
                </div>
                <button type="submit">inicias Sesion</button>
            </form>
            <div class="login-card-footer">
                ¿Todavia no tienes una cuenta? <a href="#">Crea una ahora.</a>
            </div>
        </div>
<div class="login-card-social">
            <div>O inicia sesion con</div>
            <div class="login-card-social-btns">
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook"
                        width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"></path>
                    </svg>
                </a>
                <a href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-google" width="24"
                        height="24" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                        <path d="M17.788 5.108a9 9 0 1 0 3.212 6.892h-8"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>

<div class="container text-center">
   <div class="row">
      <div class="col me-5">
         <h1 class="mt-3">Registrate</h1>
         {{#if todo_error}}
            <div
               class="alert alert-danger d-flex align-items-center"
               role="alert"
            >
               <svg
                  class="bi flex-shrink-0 me-2"
                  role="img"
                  aria-label="Danger:"
               >
                  <use xlink:href="#exclamation-triangle-fill"></use>
               </svg>
               <div>

                  {{todo_error}}

               </div>
            </div>
         {{/if}}

         <form action="/auth/signup" method="POST">

            {{! Nombre }}

            <div class="mb-3">
               <label for="name" class="form-label">Nombre</label>
               <input
                  type="text"
                  class="form-control"
                  id="name"
                  name="name"
                  placeholder="Ingrese su nombre"
               />
            </div>

            {{! Correo }}

            <div class="mb-3">
               <label for="email" class="form-label">Correo electronico</label>
               <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Ingrese su correo"
               />
            </div>

            {{! Password }}

            <div class="mb-3">
               <label for="password" class="form-label">Contraseña</label>
               <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="Ingrese su contraseña"
               />
            </div>

            {{! Reingresar Password }}

            <div class="mb-3">
               <label for="confirm_password" class="form-label">Reingrese su
                  password</label>
               <input
                  type="password"
                  class="form-control"
                  id="confirm_password"
                  name="confirm_password"
                  placeholder="Reingrese su contraseña"
               />
            </div>

            <button class="btn btn-success">
               Signup
            </button>

         </form>
      </div>

      {{! LOGIN }}

      <div class="col">
         <h1 class="mt-3">Inicia Sesion</h1>
         <form action="/auth/signin" method="POST">

            {{! Correo }}

            <div class="mb-3">
               <label for="email" class="form-label">Correo electronico</label>
               <input
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Ingrese su correo"
               />
            </div>

            {{! Password }}

            <div class="mb-3">
               <label for="password" class="form-label">Contraseña</label>
               <input
                  type="password"
                  class="form-control"
                  id="password"
                  name="password"
                  placeholder="Ingrese su contraseña"
               />
            </div>

            <button class="btn btn-warning">
               Signin
            </button>

         </form>
      </div>
   </div>
</div>