<html lang="es">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>{{title}}</title>
      <link
         rel="stylesheet"
         href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      />
      <link rel="stylesheet" href="../../css/index.css" />
   </head>
   <body>
      <header>
         <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
               <a class="navbar-brand" href="/"><img src="../../media/logo.png" alt="logo" /></a>
               <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
               </button>
               <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                     <li class="nav-item">
                        <a class="active nav_link" aria-current="page" href="/">Inicio</a>
                     </li>
                     <li class="nav-item">
                        <a class="nav_link" href="/all">Empleos</a>
                     </li>
                     <li class="nav-item">
                        <a class=" nav_link" href="#">Contacto</a>
                     </li>
                  </ul>
                  <div class="ul_login">
                     <span class="login_span">¿Sos empresa? Registrate y publica</span>
                     <div>
                        <a class="btn_login" href="/auth/signin">Login</a>
                        <a class="btn_login" href="/auth/signup">Registrarse</a>
                     </div>
                     
                  </div>
               </div>
            </div>
         </nav>
      </header>
      <div class="container">
         <div class="row">
            <div class="col">
               {{{body}}}
            </div>
         </div>
      </div>
   </body>
   <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
   ></script>
   <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
   <script src="/js/main.js"></script>
</html>