

<h1>Listado de Empleos (Publico)</h1>

<div class="card text-center mt-5">
  <div class="card-header">empresa</div>
  <div class="card-body">
    <h5 class="card-title">titulo</h5>
    <p class="card-text">descripcion</p>
    <a href="/jobs/1" class="btn btn-primary">Detalles</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>