#btnAtras{
    padding: 1rem 1.5rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    border-radius: 10px;
    width: 100%;
    margin: auto;
    background-color: #18a0fb;
}
#div{
    padding: 1.5rem;
    height: auto;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
}
#div h1{
    text-align: center;
}
.hr{
    width: 100%;
    color: white;
}