@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' id='svg' viewBox='0 0 1440 700' xmlns='http://www.w3.org/2000/svg' class='transition duration-300 ease-in-out delay-150'%3E%3Cpath d='M 0,700 C 0,700 0,175 0,175 C 87.88974358974357,184.53333333333333 175.77948717948715,194.06666666666666 266,177 C 356.22051282051285,159.93333333333334 448.7717948717949,116.26666666666665 521,119 C 593.2282051282051,121.73333333333335 645.1333333333333,170.86666666666667 716,193 C 786.8666666666667,215.13333333333333 876.6948717948719,210.26666666666668 964,198 C 1051.305128205128,185.73333333333332 1136.0871794871796,166.06666666666666 1215,161 C 1293.9128205128204,155.93333333333334 1366.9564102564102,165.46666666666667 1440,175 C 1440,175 1440,700 1440,700 Z' stroke='none' stroke-width='0' fill='%230693e3' fill-opacity='0.4' class='transition-all duration-300 ease-in-out delay-150 path-0'%3E%3C/path%3E%3Cpath d='M 0,700 C 0,700 0,350 0,350 C 67.1820512820513,334.5205128205128 134.3641025641026,319.0410256410256 216,329 C 297.6358974358974,338.9589743589744 393.72564102564104,374.35641025641024 487,368 C 580.274358974359,361.64358974358976 670.7333333333333,313.5333333333333 734,296 C 797.2666666666667,278.4666666666667 833.3410256410258,291.5102564102565 919,306 C 1004.6589743589742,320.4897435897435 1139.902564102564,336.42564102564097 1235,344 C 1330.097435897436,351.57435897435903 1385.0487179487181,350.7871794871795 1440,350 C 1440,350 1440,700 1440,700 Z' stroke='none' stroke-width='0' fill='%230693e3' fill-opacity='0.53' class='transition-all duration-300 ease-in-out delay-150 path-1'%3E%3C/path%3E%3Cpath d='M 0,700 C 0,700 0,525 0,525 C 79.75128205128203,503.9153846153846 159.50256410256407,482.83076923076925 240,490 C 320.49743589743593,497.16923076923075 401.74102564102566,532.5923076923077 485,539 C 568.2589743589743,545.4076923076923 653.5333333333334,522.8 727,521 C 800.4666666666666,519.2 862.125641025641,538.2076923076922 935,548 C 1007.874358974359,557.7923076923078 1091.9641025641026,558.3692307692307 1178,553 C 1264.0358974358974,547.6307692307693 1352.0179487179487,536.3153846153846 1440,525 C 1440,525 1440,700 1440,700 Z' stroke='none' stroke-width='0' fill='%230693e3' fill-opacity='1' class='transition-all duration-300 ease-in-out delay-150 path-2'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Raleway', sans-serif;
}

/* HEADER */

nav{
    background: rgba(255, 255, 255, .8);
}

.navbar{
    padding: 0;
}
.nav_link{
    padding: 0 1rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
    color: #006494;
    text-decoration: none;
    letter-spacing: .7px;
}
.nav_link:hover{
    transition: 0.3s;
    color: #18A0FB;
}
.ul_login{
    display: flex;
    list-style: none;
    text-decoration: none;
    margin: 0 1.3rem;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.ul_login div{
    display:flex;
    margin-top: 5px;
}
.login_span{
    font-size: 1.5rem;
    font-weight: 500;
    margin-right: 20px;
}
 .btn_login{
    padding: 0.5rem 1.4rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    color: hsl(0, 0%, 85%);
    text-decoration: none;
    margin: 2px 7px;
    letter-spacing: 1px;
    transition: all .5s;
} 
.main_div {
  --color: #3992e6;
  position: relative;
  z-index: 1;
 }
 
 .main_div::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background: transparent;
  top: -7px;
  left: -7px;
  z-index: -5;
  border-top: 3px solid var(--color);
  border-left: 3px solid var(--color);
  transition: 0.5s;
 }
 
 .main_div::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  background: transparent;
  bottom: -7px;
  right: -7px;
  z-index: -5;
  border-right: 3px solid var(--color);
  border-bottom: 3px solid var(--color);
  transition: 0.5s;
 }
 
 .main_div:hover::before {
  width: 100%;
  height: 100%;
 }
 
 .main_div:hover::after {
  width: 100%;
  height: 100%;
 }
 
 .main_div button {
  padding: 0.7em 2em;
  font-size: 16px;
  background: #222222;
  color: #fff;
  border: none;
  cursor: pointer;
  font-family: inherit;
 }
/*MAIN*/
/*SECCION 1*/
.seccion_uno{
    display: flex;
    justify-content: space-between;
    background: rgb(215,255,243);
  background: linear-gradient(90deg, rgba(215,255,243,1) 0%, rgba(148,187,233,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.div_presentacion{
    width: 50%;
    padding: 2rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.div_presentacion h1{
    font-family: 'Handlee', cursive;
    font-weight: 900;
    font-size: 7rem;
    color: hsl(0, 0%, 15%);
    margin-bottom: 1rem;
}
.div_presentacion p{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: hsl(0, 0%, 30%);
    margin-bottom: 2.5rem;
    letter-spacing: 1px;
}
.div_presentacion a{
    border: 1px solid hsl(0, 0%, 50%);
    background: #18A0FB;
    border-radius: 5px;
    padding: 1rem 6rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 1.7rem;
    color: hsl(0, 0%, 85%);
    text-decoration: none;
    margin: 10px 0;
    cursor: pointer;
    transition: all .5s;
}

.div_video{
    width: 50%;
    padding: 1rem;
    display: flex;
    align-items: center;
}
.div_video video{
    width: 100%;
    height: 100%;
}

/*SECCION 2*/
.seccion_dos{
    display: flex;
    justify-content: space-between;
    background: rgb(215,255,243);
    background: linear-gradient(90deg, rgba(215,255,243,1) 0%, rgba(148,187,233,1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
.div_beneficios{
    width: 50%;
    padding: 4rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
}
.div_beneficios h2{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 4.5rem;
    color: hsl(0, 0%, 15%);
    margin-bottom: 2rem;
}
.div_beneficios p{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    color: hsl(0, 0%, 30%);
    letter-spacing: 1px;
}
.div_img{
    width: 50%;
    padding: 4rem;
    padding-bottom: 10px;
    height: fit-content;
}
.div_img img{
    width: 100%;
    height: 100%;
}

/*SECCION 3*/
.seccion_tres{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(215,255,243);
    background: linear-gradient(90deg, rgba(215,255,243,1) 0%, rgba(148,187,233,1) 100%);
    padding-bottom: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.seccion_tres h3{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 4.5rem;
    color: hsl(0, 0%, 15%);
    margin-bottom: 2rem;
    text-align: center;
}
.seccion_tres p{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 2rem;
    width: 90%;
    color: hsl(0, 0%, 30%);
    letter-spacing: 1px;
    margin-bottom: 2rem;
}
.div_empresas{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    margin-bottom: 20px;
}
.div_empresa{
    width: 120px;
    height: 120px;
    margin: 0 50px;
    text-align: center;
    display: flex;
}
#chico{
    width: 90px;
    height: 90px;
}
.div_empresa img{
    width: 100%;
    align-self: center;
}

/*FOOTER*/

footer{
    background: #006494;
    width: 100%;
    }
    .hr{
        width: 100%;
        color: white;
    }
  footer .content{
    max-width: 1250px;
    margin: auto;
    padding: 25px 40px ;
  }
  footer .content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .content .top .logo-details{
    color: #fff;
    font-size: 30px;
  }
  .content .top .media-icons{
    display: flex;
  }
  .content .top .media-icons a{
    height: 40px;
    width: 40px;
    margin: 0 8px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #fff;
    font-size: 17px;
    text-decoration: none;
    transition: all 0.4s ease;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .top .media-icons a:nth-child(1){
    background: #4267B2;
  }
  .top .media-icons a:nth-child(1):hover{
    color: #4267B2;
    background: #fff;
  }
  .top .media-icons a:nth-child(2){
    background: #1DA1F2;
  }
  .top .media-icons a:nth-child(2):hover{
    color: #1DA1F2;
    background: #fff;
  }
  .top .media-icons a:nth-child(3){
    background: #E1306C;
  }
  .top .media-icons a:nth-child(3):hover{
    color: #E1306C;
    background: #fff;
  }
  .top .media-icons a:nth-child(4){
    background: #0077B5;
  }
  .top .media-icons a:nth-child(4):hover{
    color: #0077B5;
    background: #fff;
  }
  .top .media-icons a:nth-child(5){
    background: #FF0000;
  }
  .top .media-icons a:nth-child(5):hover{
    color: #FF0000;
    background: #F5F5F5;
  }
  footer .content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  footer .content .link-boxes .box{
    width: calc(100% / 5 - 10px);
  }
  .content .link-boxes .box .link_name{
    color: #F5F5F5;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    position: relative;
  }
  .link-boxes .box .link_name::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 35px;
    background: #F5F5F5;
  }
  .content .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
  }
  .content .link-boxes .box li a{
    color: #F5F5F5;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.4s ease
  }
  .content .link-boxes .box li a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .content .link-boxes .input-box{
    margin-right: 55px;
  }
  .link-boxes .input-box input{
    height: 40px;
    width: calc(100% + 55px);
    outline: none;
    border: 2px solid #F5F5F5;
    background: #18A0FB;
    border-radius: 4px;
    padding: 0 15px;
    font-size: 15px;
    color: #F5F5F5;
    margin-top: 5px;
  }
  .link-boxes .input-box input::placeholder{
    color: #F5F5F5;
    font-size: 16px;
  }
  .link-boxes .input-box input[type="button"]{
    background: #F5F5F5;
    color: #18A0FB;
    border: none;
    font-size: 18px;
    font-weight: 500;
    margin: 4px 0;
    opacity: 0.8;
    cursor: pointer;
    transition: all 0.4s ease;
  }
  .input-box input[type="button"]:hover{
    opacity: 1;
  }
  footer .bottom-details{
    width: 100%;
    background: #18A0FB;
  }
  footer .bottom-details .bottom_text{
    max-width: 1250px;
    margin: auto;
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
  }
  .bottom-details .bottom_text span,
  .bottom-details .bottom_text a{
    font-size: 14px;
    font-weight: 300;
    color: white;
    opacity: 0.8;
    text-decoration: none;
  }
  .bottom-details .bottom_text a:hover{
    opacity: 1;
    text-decoration: underline;
  }
  .bottom-details .bottom_text a{
    margin-right: 10px;
  }
  @media (max-width: 900px) {
    footer .content .link-boxes{
      flex-wrap: wrap;
    }
    footer .content .link-boxes .input-box{
      width: 40%;
      margin-top: 10px;
    }
  }
  @media (max-width: 700px){
    footer{
      position: relative;
    }
    .content .top .logo-details{
      font-size: 26px;
    }
    .content .top .media-icons a{
      height: 35px;
      width: 35px;
      font-size: 14px;
      line-height: 35px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 3 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 60%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a{
      font-size: 12px;
    }
  }
  @media (max-width: 520px){
    footer::before{
      top: 145px;
    }
    footer .content .top{
      flex-direction: column;
    }
    .content .top .media-icons{
      margin-top: 16px;
    }
    footer .content .link-boxes .box{
      width: calc(100% / 2 - 10px);
    }
    footer .content .link-boxes .input-box{
      width: 100%;
    }
  }

/*SECCION NOSOTROS*/
.nosotrosP{
    margin-bottom: 2rem;
}
.title_nosotros{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    color: hsl(0, 0%, 15%);
    margin-bottom: 2rem;
    margin-top: 1rem;
    text-align: center;
}
.div_nosotros{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 1rem;
}
.card{
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    padding-bottom: 1rem;
    background-color: #e8f1f2;
}
.card-body{
    text-align: center;
}
.btnRedes{
    background-color: peachpuff;
    width: 35px;
    font-size: 1.3rem;
    height: 35px;
    padding: 1rem;
    margin: .7rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.75);
    text-align: center;
}

/*SECCION EMPLEOS*/
.empleos{
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}
.sectionOne{
    background-color: rgba(var(--bs-dark-rgb));
    opacity: 0.7;
    margin: 1.5rem;
    font-size: 1.25rem;
    padding: 3rem;
    color: #F5F5F5;
    border-radius: 0.375rem;
    height: fit-content;
}
.cardEmpleo{
  background-color: hsla(206, 100%, 6%, 0.97);
  color:#F5F5F5;
  padding-bottom: 0;
}
.svg{
  width: 18px;
  height: 18px;
  color: #F5F5F5;
  text-shadow: 0 0 1px #F5F5F5;
}
.btnCerrar{
    font-weight: 600;
    font-size: 1.2rem;
    background-color: rgba(255, 0, 0, 0.259);
    color: red;
}

/*Seccion RESPONSIVE*/
/*Mejorar al 100% el responsive*/
/*Computadora*/
@media screen and (max-width:1400px) {
    
}
@media screen and (max-width:1200px) {
    .seccion_uno{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .div_presentacion{
        width: 100%;
    }
    .div_video{
        width: 70%;
    }
    .seccion_dos{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .div_beneficios{
        width: 100%;
        padding: 2rem;
    }
    .div_img{
        width: 60%;
        padding: 2rem;
    }
}
/*Noteboook*/
@media screen and (max-width:990px) {
    .div_video{
        width: 80%;
    }
    /*Para que quede bien el menu hamburguesa*/
    .navbar-nav{
        text-align: center;
    }
    .login_span{
        display: none;
    }
    .login_span li{
        margin: 2px;
    }
}
/*Tablet*/
@media screen and (max-width:770px) {
    .div_presentacion{
        padding: 1rem;
    }
    .div_presentacion h1{
        width: 100%;
        font-size: 6rem;
    }
    .div_video{
        width: 100%;
    }
    .div_img{
        width: 70%;
        padding: 1rem;
    }
    .empleos{
        flex-direction: column;
    }
    .sectionOne{
        display: flex;
        flex-wrap: wrap;
        padding: 1rem;
    }
    .sectionOne div{
        margin-right: 10px;
    }
}
/*Celular*/
@media screen and (max-width:570px) {
    .btn_login{
        padding: 0.3rem 1rem;
        font-size: 1.5rem;
        margin: 2px 7px;
    }
    .div_presentacion{
        padding: .6rem;
    }
    .div_presentacion h1{
        font-size: 4.5rem;
    }
    .div_presentacion p{
        font-size: 1.6rem;
    }
    .div_presentacion a{
        padding: 1rem 4rem;
        font-weight: 700;
        font-size: 1.7rem;
        margin: 10px 0;
    }
    .div_beneficios{
        width: 100%;
        padding: 1rem;
    }
    .div_beneficios h2{
        font-size: 3.8rem;
        margin-bottom: 1.5rem;
    }
    .div_beneficios p{
        font-size: 1.4rem;

    }
    .div_img{
        width: auto;
        padding: 1rem;
    }
    .seccion_tres h3{
        font-size: 3.8rem;
        margin-bottom: 2rem;
    }
    .seccion_tres p{
        font-size: 1.4rem;
        width: 90%;
        margin-bottom: 2rem;
    }
}
@media screen and (max-width:400px) {
    .div_presentacion{
        padding: 0;
    }
    .div_presentacion h1{
        font-size: 3.7rem;
    }
    .div_presentacion a{
        padding: 1rem 3rem;
        font-weight: 700;
        font-size: 1.7rem;
        margin: 5px 0;
    }
}


.form-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}