<div class="container fs-5 mt-4">
<h1>Publicar Nuevo Empleo</h1>

<form action="/jobs" method="POST">
   <div class="mb-3">
      <label for="title" class="form-label">Titulo</label>
      <input
         type="text"
         class="form-control"
         id="title"
         name="title"
         placeholder="Ingrese titulo del empleo"
      />
   </div>

   <div class="mb-3">
      <label for="enterprise" class="form-label">Nombre de la empresa</label>
      <input
         type="text"
         class="form-control"
         id="enterprise"
         name="enterprise"
         placeholder="Ingrese nombre de la empresa"
      />
   </div>

   <div class="mb-3">
      <label for="location" class="form-label">Localidad</label>
      <input
         type="text"
         class="form-control"
         id="location"
         name="location"
         placeholder="Ingrese nombre de la empresa"
      />
   </div>

   <div class="mb-3">
      <label for="description" class="form-label">Descripcion</label>
      <textarea
         class="form-control"
         id="description"
         name="description"
         rows="3"
      ></textarea>
   </div>

   <div class="mb-3">
      <label for="phone" class="form-label">Telefono de contacto</label>
      <input
         type="tel"
         class="form-control"
         id="phone"
         name="phone"
         placeholder="Ingrese numero de contacto"
      />
   </div>

   <div class="mb-3">
      <label for="email" class="form-label">E-mail de contacto</label>
      <input
         type="email"
         class="form-control"
         id="email"
         name="email"
         placeholder="Ingrese e-mail de contacto"
      />
   </div>

   <button class="btn btn-success fs-5 mx-2" >Crear</button>
   <button class="btn btn-secondary"><a href="/jobs" class="nav-link">Volver Atras</a></button>
</form>
</div>